.edit_tools_bar {
  position: absolute;
  display: flex;
  flex-direction: column;

  left: 16px;
  top: 104px;
  height: calc(100% - 32px - 104px);
  min-width: 94px;
  align-items: center;
  justify-content: space-between;

  gap: 16px;
  padding: 10px;
  box-sizing: border-box;
  backdrop-filter: blur(20px);

  padding: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;

  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);

  .filters_title {
    font-family: var(--font-family);
    color: var(--neutral00);
    font-size: 24px;
    font-weight: 600;
  }

  .line_divider {
    height: 1px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.options_box {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  gap: 8px;
}

.options_container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  gap: 6px;

  .option_icon {
    stroke: var(--red);
    fill: transparent;
  }

  &:hover {
    border: 1px solid var(--red);
    transition: all 0.2s ease;
  }
  span {
    font-family: var(--font-family);
    color: var(--neutral02);
    opacity: 0.7;
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.option_active {
  background-color: var(--red);
  stroke: var(--neutral00);
  fill: var(--neutral00);
}
