@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --red: #d32f2f;
  --light01: #e94b4b;
  --light02: #f86e6e;
  --light03: #ff9898;
  --light04: #ffcaca;
  --light05: #fffcfc;
  --dark01: #aa2626;
  --dark02: #811d1d;
  --dark03: #581414;
  --dark04: #2f0b0b;
  --dark05: #060202;

  --neutral00: #fefefe;
  --neutral01: #e4e4e7;
  --neutral02: #cbcbd0;
  --neutral03: #b1b1b8;
  --neutral04: #9999a0;
  --neutral05: #808088;
  --neutral06: #67676e;
  --neutral07: #4e4e53;
  --neutral08: #363639;
  --neutral09: #1d1d1e;
  --neutral10: #040404;

  --font-family: "Manrope", sans-serif;
  --mono-family: "Inter Mono", monospace;
  --sans-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--neutral10);
  color: var(--neutral00);
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
}
h1 {
  color: var(--neutral00);
  font-size: 40px;
}
.app_container {
  position: relative;
  width: 100vw;
  height: 100vh;
}
